<% include ../header %>

<header>
    <h2 class="form-signin-heading">NTalk - <small>Agenda de contatos</small></h2>
    <hr/><br/>
</header>

<section>
  
    <div class="container"> 
      <form  action="/contato" method="post">
        <div class="row">
          <div class="col">
              <input type="text" class="form-control" placeholder="Nome" name="contato[nome]" >
          </div>

          <div class="col">
              <input type="text" class="form-control" placeholder="E-mail" name="contato[email]">
          </div>

          <div class="col">
              <button class="btn btn-primary" type="submit">Cadastrar</button>
          </div>

        </div>
      </form>
    </div>

    <br/><hr/>

    <div class="container"> 
      <form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Status</th>
                  <th scope="col">Ação</th>
                </tr>
            </thead>    
            <tbody>
                <% contatos.forEach((contato, index) => { %>
                <tr>

                    <td><%- contato.nome %></td>
                    <td><%- contato.email %></td>
                    <td>
                        <span id="notify_<%- contato.email %>">Offline</span>
                    </td>
                    <td>
                        <a href="/contato/<%- contato._id %>" class="btn btn-info">Detalhes</a>
                        <a href="/chat" id="chat_<%- contato.email %>" class="btn btn-light">Conversar</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
      </form>
    </div>
  
  
</section>

<% include notify_script %>

<% include ../exit %>

<% include ../footer %>